#particles-js{
	background: url(../images/fondo.jpg);
	background-position: center;
	background-attachment: contain;
	background-size: cover;
	width: 100%;
}

.ancho-letras{
	top: 600px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1;
}

.letras-slider{
	width: 80%;
	margin: auto;
}

.letras-slider h1{
	color: #E25353;
	font-family: 'Raleway', sans-serif;
	font-size: 70px;
}

.letras-slider p{
	color: #604343;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	padding-top: 50px;
}